{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration Page of Shopping Cart Website</title>
    <link rel="stylesheet" href="{% static 'css/HomePage.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_regidter_error_message.css' %}">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">

</head>

<body>

    <!----------------- Account Page ------------------->
    <div class="container">
        {% include 'NavigationBarContent.html' %}
    </div>

    <div class="container">
        <div class="account-page">
            <div class="row">
                <div class="col-21">
                    <img src="{% static 'images/image1.png' %}" width="100%">
                </div>
                {% if loggedin %}
                <div class="logout_btn">
                    <a href="logout">Logout</a>
                </div>
                {% else %}
                <div class="col-21">


                    <div class="form-container">

                        <div class="form-btn">
                            <span onclick="login()">Login</span>
                            <span onclick="register()">Register</span>
                            <hr id="Indicator">
                        </div>
                        <!-- showing Erroe Message section -->
                        {% if message.failed == True %}
                        <div class="ErroeMessage">
                            {{ message.reason }}
                        </div>
                        {% endif %}
                        <!-- end of error message -->
                        <form id="LoginForm" method="post">
                            {% csrf_token %}

                            <input type="text" placeholder="Username" name="username" required>
                            <input type="password" placeholder="Password" name="password" required>
                            <button type="submit" class="btn">Login</button>
                            <a href="">Forgot password</a>
                        </form>

                        <form id="RegForm" method="post">
                            {% csrf_token %}
                            <!-- showing Erroe Message section -->

                            <input type="text" placeholder="Username" name="username" required>
                            <input type="email" placeholder="Email" name="email" required>
                            <input type="password" placeholder="Password" name="psswd1" required>
                            <input type="password" placeholder=" Password" name="psswd2" required>
                            <button type="submit" class="btn">Register</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>




    <script>
        var LoginForm = document.getElementById("LoginForm");
        var RegForm = document.getElementById("RegForm");
        var Indicator = document.getElementById("Indicator");

        function register() {
            RegForm.style.transform = "translateX(0px)";
            LoginForm.style.transform = "translateX(0px)";
            Indicator.style.transform = "translateX(100px)";
        }
        function login() {
            RegForm.style.transform = "translateX(300px)";
            LoginForm.style.transform = "translateX(300px)";
            Indicator.style.transform = "translateX(0px)";
        }

    </script>


</body>

</html>