{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details page</title>
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar2.css' %}">

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">
</head>

<body>

    <div class="navbar_container">
        {% include 'NavigationBarContent.html' %}
    </div>

    <!-- single product details  -->

    <div class="small-container_single-product">
        <div class="row">
            <div class="col-2">
                <img src="./static/images/gallery-1.jpg" width="50%" id="productImg">
                <div class="small-img-col">
                    <img src="./static/images/gallery-1.jpg" width="50%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="./static/images/gallery-2.jpg" width="50%" class="small-img">
                </div>
                <div class=" small-img-col">
                    <img src="./static/images/gallery-3.jpg" width="50%" class="small-img">
                </div>
                <div class=" small-img-col">
                    <img src="./static/images/gallery-4.jpg" width="50%" class="small-img">
                </div>

            </div>
            <div class=" col-2">
                <p>Home / T-shirt</p>
                <h1>Red printed t-shirt by HRX</h1>
                <h4>$950.00</h4>
                <select>
                    <option> Select Size </option>
                    <option> XXL </option>
                    <option> XL </option>
                    <option> L </option>
                    <option> M </option>
                    <option> S </option>
                    <option> XS </option>
                </select>
                <input type="number" value="1">
                <a href="" class="btn"> Add to cart </a>
                <h3>Product details <i class="fa fa-indent"></i> </h3>
                <br>
                <p>Tackle your workout days in style with the HRX Men's Training T-shirt.
                    The lightweight fabric gives you a wider range of motion while the Rapid-Dry
                    and Anti Microbial
                    technology treated fabric works on minimizing sweat and body odour .</p>
            </div>

        </div>
    </div>

    <!-- title  -->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>view more</p>
        </div>
    </div>

    <!-- ----------Footer---------- -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>
                        Download our app!
                    </h3>
                    <p>
                        for android phone & pcs also!
                    </p>
                    <div class="app-logo">
                        <img src="">
                        <img src="">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="./New Project logo.png">
                    <p>Our purpose is to dress you like a prince & princess!</p>
                </div>
                <div class="footer-col-3">
                    <h3>some useful links-</h3>
                    <ul>
                        <li>coupons</li>
                        <li>blog posts</li>
                        <li>return policies</li>
                        <li>join affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us on</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>Twitter</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>






</body>

</html>